.form-wrapper label {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-wrapper textarea {
    resize: none;
    border-width: 5px;
}

.form-wrapper .passage-text {
    min-height: 200px;
}

.form-wrapper .question-text {
    min-height: 100px;
}
